In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
from pathlib import Path
data_folder = Path('C:/Users/langzx/Desktop/github/myleetcode/project/datasets')

In [21]:
df = pd.read_csv(data_folder/'cookie_cats.csv')
df.shape

(90189, 5)

In [7]:
df.head(6)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True
5     540  gate_40             187         True         True

In [11]:
df.retention_1.agg(['mean'])

mean    0.44521
Name: retention_1, dtype: float64

In [12]:
df.sum_gamerounds.agg(['mean','median'])

mean      51.872457
median    16.000000
Name: sum_gamerounds, dtype: float64

In [8]:
df.groupby('version').count()

         userid  sum_gamerounds  retention_1  retention_7
version
gate_30   44700           44700        44700        44700
gate_40   45489           45489        45489        45489

In [13]:
df_group = df.groupby('version')
df_group.head(5)

    userid  version  sum_gamerounds  retention_1  retention_7
0      116  gate_30               3        False        False
1      337  gate_30              38         True        False
2      377  gate_40             165         True        False
3      483  gate_40               1        False        False
4      488  gate_40             179         True         True
5      540  gate_40             187         True         True
6     1066  gate_30               0        False        False
7     1444  gate_40               2        False        False
11    2101  gate_30               0        False        False
13    2179  gate_30              39         True        False

In [14]:
df_summary = df_group.agg({'sum_gamerounds': ['mean', 'median', 'std']})

In [15]:
df_summary

        sum_gamerounds
                  mean median         std
version
gate_30      52.456264     17  256.716423
gate_40      51.298776     16  103.294416

In [18]:
df_group['retention_1'].mean()

version
gate_30    0.448188
gate_40    0.442283
Name: retention_1, dtype: float64

In [22]:
df_group['retention_7'].mean()

version
gate_30    0.190201
gate_40    0.182000
Name: retention_7, dtype: float64

In [25]:
d = df.sample(frac=1, replace=True).groupby('version')['retention_1'].mean()
d

version
gate_30    0.451362
gate_40    0.445901
Name: retention_1, dtype: float64

In [26]:
# Creating an list with bootstrapped means for each AB-group
boot_1d = []
for i in range(500):
    boot_mean = df.sample(frac=1, replace=True).groupby('version')['retention_1'].mean()
    boot_1d.append(boot_mean)
    
# Transforming the list to a DataFrame
boot_1d = pd.DataFrame(boot_1d)
print(boot_1d.head())
# A Kernel Density Estimate plot of the bootstrap distributions
# ... YOUR CODE FOR TASK 6 ...
#boot_1d.plot.kde()

version       gate_30   gate_40
retention_1  0.448065  0.442212
retention_1  0.450115  0.445295
retention_1  0.450581  0.440186
retention_1  0.449104  0.443945
retention_1  0.448343  0.442172

In [28]:
boot_1d['diff'] = (boot_1d['gate_30'] - boot_1d['gate_40'])/  boot_1d['gate_40'] * 100

In [30]:
prob = (boot_1d['diff']>0).sum()/len(boot_1d['diff'])
# Pretty printing the probability
# ... YOUR CODE FOR TASK 8 ...
print('{:.2%}'.format(prob))

96.20%